extends layout.pug
block content
	article
		section
			header: h2 About
			p.
				I’m a developer in training at
				#[a(href='//www.codelouisville.org/') &lt;code>Louisville].
				This is a journal dedicated to the various skills I develop as I learn to code.
				Hopefully, it will be useful to others as well.
