math(xmlns='http://www.w3.org/1998/Math/MathML' display='block' role='math')
	mtable(groupalign='{right center left}' displaystyle='true')
		mtr
			mtd
				maligngroup/
				mi a
				maligngroup/
				mo =
				maligngroup/
				msub
					mi q
					mrow(class='MJX-TeXAtom-ORD')
						mn 0
				mo ⁢
				mi b
				mo +
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 0
		mtr
			mtd
				maligngroup/
				mi b
				maligngroup/
				mo =
				maligngroup/
				msub
					mi q
					mrow(class='MJX-TeXAtom-ORD')
						mn 1
				mo ⁢
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 0
				mo +
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 1
		mtr
			mtd
				maligngroup/
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 0
				maligngroup/
				mo =
				maligngroup/
				msub
					mi q
					mrow(class='MJX-TeXAtom-ORD')
						mn 2
				mo ⁢
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 1
				mo +
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 2
		mtr
			mtd
				maligngroup/
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 1
				maligngroup/
				mo =
				maligngroup/
				msub
					mi q
					mrow(class='MJX-TeXAtom-ORD')
						mn 3
				mo ⁢
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 2
				mo +
				msub
					mi r
					mrow(class='MJX-TeXAtom-ORD')
						mn 3
		mtr
			mtd
				maligngroup/
				maligngroup/
				mo ⋮
				maligngroup/
